%P Tell everybody about this:
- title = "I just backed Konstantin Haase to be brought to MagmaConf 2013, c'mon and help us"
%span.st_facebook_large{:displaytext => "Facebook", :st_title => "#{title}", :st_summary => "#{title}"}
%span.st_googleplus_large{:displaytext => "Google +", :st_title => "#{title}", :st_summary => "#{title}"}
%span.st_twitter_large{:displaytext => "Tweet", :st_title => "#{title}", :st_summary => "#{title}", :st_via => 'magmaconf'}
