.row
  .span12
    .konsta
      = image_tag 'konstantin.png'
      %p
        Konstantin Haase was selected to be a Speaker at MagmaConf 2013. Unfortunately, flying from Berlin to Manzanillo, Mx. is not as cost effective as we'd wish, but, we don't want to miss his talk, do we?
        %br
        %br
        With a little help from everyone we can fund his trip so we can hear him speak and share drinks with him while talking about nerd stuff.

.row
  .span12
    %h1
      Total Contribution:
      %span.total #{number_to_currency Fundraiser::Contribution.total_contributed}
      of
      %span #{number_to_currency Fundraiser::Settings.funding_goal}
      until
      %span.date #{Fundraiser::Settings.funding_end_date}
.row
  .span12.social
    %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
    :javascript
      stLight.options({publisher: "1f6a2a22-dd71-4dcd-9825-4e472822e217", doNotHash: false, doNotCopy: false, hashAddressBar: false});
    %span.st_facebook_large{:displaytext => "Facebook"}
    %span.st_googleplus_large{:displaytext => "Google +"}
    %span.st_twitter_large{:displaytext => "Tweet"}
    %span.st_linkedin_large{:displaytext => "LinkedIn"}
    %span.st_fblike_large{:displaytext => "Facebook Like"}
    %span.st_pinterest_large{:displaytext => "Pinterest"}


.row
  .span5.offset2
    %h2
      Backed by
      %span.backers #{Fundraiser::Contribution.count}
      people
  .span4
    %h2 Choose a Reward
.row
  .span5.offset2
    - if Fundraiser::Settings.is_open?
      = render 'fundraiser/rewards/payment_form'
    - else
      %h2 The Fundraiser is closed now.
  .span4
    #rewards
      = render @rewards

