.row
  .span12
    .konsta
      = image_tag 'konstantin.png'
      .box
        %h1
          Bring
          %span Konstantin to
        = link_to 'http://magmaconf.com' do
          = image_tag 'magma-white.png'

.row
  .span12
    %h1.thanks
      %strong WE MADE IT!
      Thank you very much for all your love and support! This is awesome!!!

.row
  .span12
    %h1
      Total Contribution:
      %span.total #{number_to_currency Fundraiser::Contribution.total_contributed}
      of
      %span #{number_to_currency Fundraiser::Settings.funding_goal}
      until
      %span.date #{Fundraiser::Settings.funding_end_date}
.row
  .span12.social
    %span.st_facebook_large{:displaytext => "Facebook"}
    %span.st_googleplus_large{:displaytext => "Google +"}
    %span.st_twitter_large{:displaytext => "Tweet", :st_via => 'magmaconf'}
    %span.st_linkedin_large{:displaytext => "LinkedIn"}
    %span.st_fblike_large{:displaytext => "Facebook Like"}


.row
  .span5.offset2
    %h2
      Backed by
      %span.backers #{Fundraiser::Contribution.count}
      people

